title = "carte"
url = "/carte"
layout = "notre_theme"
is_hidden = 0

[session]
security = "user"
redirect = "login"

[builderList]
modelClass = "Stage\Produits\Models\Carte"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "user_id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "Stage\Produits\Models\Produit"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "nom"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% component 'session' %}
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<ul class="record-list">
    {% for record in records %}
    {% if record.user_id==user.id %}
    

        <li>
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                
                {% set records = builderList2.records %}
                {% set displayColumn = builderList2.displayColumn %}
                {% set noRecordsMessage = builderList2.noRecordsMessage %}
                {% set detailsPage = builderList2.detailsPage %}
                {% set detailsKeyColumn = builderList2.detailsKeyColumn %}
                {% set detailsUrlParameter = builderList2.detailsUrlParameter %}

                        <ul class="record-list">
                            {% for rcd in records %}
                                <li>
                                    {# Use spaceless tag to remove spaces inside the A tag. #}
                                    {% spaceless %}
                                        {% if detailsPage %}
                                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                        {% endif %}
                                        {% if rcd.id==record.produit_id %}
                                           
                                           {{rcd.nom}}
                                           <img src="{{ rcd.IMAGE.thumb(200,auto) }}">{{ rcd.prix }} dt
                                           
                                           
                                        {% endif %}
                                    

                                        {% if detailsPage %}
                                            </a>
                                        {% endif %}
                                    {% endspaceless %}
                                </li>
                            {% else %}
                                <li class="no-data">{{ noRecordsMessage }}</li>
                            {% endfor %}
                        </ul>

                        {% if records.lastPage > 1 %}
                            <ul class="pagination">
                                {% if records.currentPage > 1 %}
                                    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
                                {% endif %}

                                {% for page in 1..records.lastPage %}
                                    <li class="{{ records.currentPage == page ? 'active' : null }}">
                                        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                                    </li>
                                {% endfor %}

                                {% if records.lastPage > records.currentPage %}
                                      <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                
                
                

                {% if detailsPage %}
                    </a>
                {% endif %}
            {% endspaceless %}
        </li>
    
    {% endif %}
    {% endfor %}
    
</ul>

{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}