title = "catrgorie single"
url = "/catrgorie/:slug"
layout = "notre_theme"
is_hidden = 0

[builderDetails]
modelClass = "Stage\Produits\Models\Ctg"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "ctg"
notFoundMessage = "Record not found"

[builderList]
modelClass = "Stage\Produits\Models\Produit"
scope = "-"
scopeValue = "{{ :id }}"
displayColumn = "nom"
noRecordsMessage = "No records found"
detailsPage = "produit-single"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
   <h2> {{ attribute(record, displayColumn) }}</h2>
    {% for produit in record.produits %}
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<ul class="record-list">
    {% for rcd in records %}
    {% if rcd.id  == produit.id %}
        <li>
        <h1>
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(rcd, detailsKeyColumn) }) }}">
                {% endif %}
                {% if detailsPage %}
                {{ rcd.nom }}
                    </a>
                {% endif %}
            {% endspaceless %}
            </h1>
            </br>
                
                <img src="{{ rcd.IMAGE.thumb(300,auto) }}">
                <h4>description :</h4>
                {{ html_limit(rcd.description, 150)|raw }}
                <h2>{{ rcd.prix }} dt</h2>

                
        </li>
    {% endif %}
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</ul>



{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
    {% endfor %}
{% else %}
    {{ notFoundMessage }}
{% endif %}