title = "Produit single"
url = "/produit/:id"
layout = "notre_theme"
is_hidden = 0

[builderDetails]
modelClass = "Stage\Produits\Models\Produit"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "nom"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <h1>{{ attribute(record, displayColumn) }}</h1>
    <img src="{{ record.IMAGE.thumb(500,auto) }}">
    <h3>Autres Images</h3>
    <ul class="gallery clearfix">
    {% for image in record.Galerie_produit %}
    <li>
    <a href="{{ image.path }}">
    <img src="{{ image.thumb(80,80,{'mode':'crop'}) }}">
    </a>
    </li>
    {% endfor %}
    </ul>
    <h4>description :</h4>
    <h5>{{ record.description|raw }}</h5>
    <h2>{{ record.prix }} dt</h2>
    <h4>{{ record.quantite_en_stock }} restants</h4>
{% else %}
    {{ notFoundMessage }}
{% endif %}